{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<!-- AJAX script! -->

<head>
    <script src="/assign3/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assign3/static/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jing's Portfolio - CS242 Assignment3.0</title>


    <!-- Bootstrap Core CSS -->
    <link href="/assign3/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assign3/static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assign3/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<script>
    
    $(document).ready(function(){
        
        $(".submit").click(function(){
            var username1 = $(".username").val();
            var content1 = $(".content").val();
            $.ajaxSetup({
                    headers: { "X-CSRFToken": getCookie("csrftoken") }
                });
            $.ajax({
                type : "POST",
                data : { user: username1, comment: content1, project_id: {{project_id}} },
                url : "/assign3/forAjax/",
                dataType:'json',
                success: function(data){
                    alert("AJAX success");
                    $(".forAjax").append(JSON.stringify(data))
                    },
                error:function(data)
                    {
                        alert("AJAX error!");
                    }

                });
            });

        $(".file").click(function(){
            var path = $(this).attr("id");
            $(this).css({"background-color": "Lavender" , "width":"1300px", "height":"400px", "overflow":"scroll"});
            //alert("fileAJAX error!");
            $(this).html('<object data="https://subversion.ews.illinois.edu/svn/sp16-cs242/jzhao18/' + path + '" width="600px" height="600px" />');

            });

            function getCookie(c_name)
            {
                if (document.cookie.length > 0)
                {
                    c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1)
                    {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return unescape(document.cookie.substring(c_start,c_end));
                    }
                }
                return "";
             }
    })

    

</script>
<body>
    

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">CS242 Assignment3.0</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                   
                    <li>
                        <a href="#assign">Assignment List</a>
                    </li>
                    <li>
                        <a href="#comment">Comment</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Jing's Portfolio</h1>
                        <h4> CS242 Assignments List </h4>
                        <h5>{% for file in files %} 
                                {% if forloop.first%}
                                    <p>{{ file.file_path }} </p>
                                {% endif %}
                            {% endfor %}

                        </h5>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="assign"></a>
    <div class="content-section-a">

        {% for file in files %}
                <div class="file_container" id="{{ file.id }}">
                <p>________________________________________________________</p>
                <p>File Path: {{ file.file_path }}</p>
                <p>File Type: {{ file.file_type }}</p>
                <p>File Size: {{ file.file_size }}</p>
                <div class="file" id="{{ file.file_path}}">Details</div>
                {% for version in file.version_set.all %}
                    <div class="version_container" id="{{ version.id }}">
                    <p>Version Revision: {{ version.version_revision }}</p>
                    <p>Version Author: {{ version.version_author }}</p>
                    <p>Version Msg: {{ version.version_msg }}</p>
                    <p>Version Date: {{ version.version_date }}</p>
                    <br>
                    <br>
                </div>
                
                {% endfor %}
         </div>
        {% endfor %}
        <!-- /.container -->

    <a  name="comment"></a>
    </div>
    <!-- /.content-section-a -->
       <h3>Comment List </h3>
        <div class="content-section-b">

            
            <table>
                <tr>
                    <td> <label  for="username">Username:</label> </td>
                    <td> <input class="username" type="text" name="username"  /> </td>
                </tr>
                <br></br>
                <tr>
                    <td> <label for="content">Comment:</label> </td>
                   
                    <td> 
                        <textarea class="content" id="content" rows="6" cols="48" name="content">{{content}}</textarea> 
                    </td>
                </tr>                        
            </table>
            <input class="submit" type="submit" value="Comment" />
            
            {% for comment in comments %}
            <div class="comment_user_container">
                <p>User :    {{comment.comment_username}}<p>
            </div>
            <div class="comment_container">
                <p>Content  : {{comment.comment_content}}</p>
            </div>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}

            <div class ="forAjax"> 
                New Comments: 
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

   

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Thank you for visiting.</h2>
                    <p class="lead">Checkout my <a target="_blank" href="http://zfrancica.wix.com/main">Personal Website</a>.</p>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->


    <!-- jQuery -->
    

</body>

</html>

<!--

$(".file").click(function(){
            //var fileId = $(this).attr("id");
            alert("fileAJAX error!");
            $.ajaxSetup({
                    headers: { "X-CSRFToken": getCookie("csrftoken") }
                });
            $.ajax({
                type : "POST",
                data : { file_path: {{ file.file_path }} },
                url : "/assign3/forFile/",
                //dataType:'json',
                success: function(data){
                    alert("AJAX success");
                    $(".forFile").append(data)
                    },
                error:function(data)
                    {
                        alert("AJAX error!");
                    }

                });
            })
-->

